doctype html
html(lang="en" class="h-100")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Result
        link(rel="stylesheet", href="/css/bootstrap.min.css")

    body(class="text-white h-100", style="background-color:#04161c; min-width: 450px;")
        include includes/navbar.pug     

        div(class="container" style="height: calc(100% - 10rem);")
            div(class="row h-100 d-flex") 
                div(class="col-8 h-75 mb-2 mx-auto align-self-center" style="min-width: 350px")
                    div(class="card d-flex flex-column h-100 bg-dark" style="min-height: 350px;")
                        div(class="card-header") 
                            h1(class="card-title text-center mt-3 mb-3") Results
                        div(class="card-body d-flex flex-column justify-content-center overflow-auto mb-3" style="background-color: #252B2C;")
                            div(class="list-group mh-100")
                                each art in artwork
                                    div(class="list-group-item bg-secondary text-white")
                                        div(class="row align-items-center")
                                            div(class="col")
                                                - let desc = art.description.slice(0, 100) + (art.description.length > 100 ? "..." : "");
                                                p(class="mb-0") #[strong #{art.name}]: #{desc}
                                                p(class="text-light mb-0")= "Artist: " + art.artist
                                            div(class="col-auto")
                                                div(class="custom-control custom-switch")
                                                    a(href="/feed/art/"+ art._id, style="text-decoration:none")
                                                        button(type="button", class="btn btn-primary btn-success") Go to Post

            .container(class="align-self-end")
                div(class="row d-flex justify-content-center align-items-center mx-auto" style="min-width: 350px")
                    div(class="col-2 d-flex justify-content-center align-items-center mx-auto")
                        - let prev = skip==0 ? " disabled" : ""
                        - let next = (skip+1)*limit >= total ? " disabled": "";
                        a(class="btn btn-lg btn-outline-success me-3"+prev href=url+ "&skip=" + (skip-1)) Previous
                        a(class=" btn btn-lg btn-outline-success"+next href=url+ "&skip=" + (skip+1)) Next

        script(src="/js/bootstrap.bundle.min.js") 
        script(src="/notifs-client.js") 


        //- Pagination - https://getbootstrap.com/docs/5.2/components/pagination/
